<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
   <!--<rewrite>
    <rules>
       <rule name="HTTP to HTTPS redirect" stopProcessing="true"> 
         <match url="(.*)" /> 
         <conditions> 
           <add input="{HTTPS}" pattern="off" ignoreCase="true" />
         </conditions> 
         <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
       </rule> 
    </rules>
</rewrite>-->
</system.webServer>

	<appSettings>
	
    <!--<add key="VerifyKey" value="U0k0Io3ngZ"></add>
    <add key="MerchantId" value="M03359"></add>-->
    
    <!--Old IPay88 Merchanid and key-->
    <add key="MerchantId" value="M09546"></add>
    <add key="VerifyKey" value="T8PXCtptrX"></add>

    <!--<add key="IndexWomenFashion1" value="37" />
    <add key="IndexWomenFashion2" value="22" />
    <add key="IndexWomenFashion3" value="27" />
    <add key="IndexMenFashion1" value="46" />-->

    <add key="IndexWomenFashion1" value="20" />
    <add key="IndexWomenFashion2" value="22" />
    <add key="IndexWomenFashion3" value="19" />
    <add key="IndexMenFashion1" value="14" />
   
    <add key="WC_ServerName" value="localhost" />
		<add key="WC_DatabaseName" value="EShopping" />
		<add key="UserID" value="admin" />
		<add key="Password1" value="admin" />
    <add key="offersmall" value="web/images/ribbon-1.png"/>
    <add key="offerbig" value="web/images/ribbon-0.png"/>
		<add key="WC_ImagePath1" value="web\Products\" />
		<add key="WC_ImagePath" value="C:\\Inetpub\\wwwroot\\E-Shopping\\web\\Products\\" />
  
		<add key="DocumentsPath" value="https://www.easybuybye.com/Documents/" />
    <add key="ImagePath" value="https://www.easybuybye.com/" />
		
    <add key="Webserver" value="mail.easybuybye.com" />
    <add key="MailAddress" value="admin@easybuybye.com" />
   
    <add key="MailAddress2" value="arivu@serbadinamikgroup.onmicrosoft.com"/>
    <add key="MailAddress3" value="charan@serbadinamikgroup.onmicrosoft.com" />
    <add key="MailAddress4" value="shaik@serbadinamikgroup.onmicrosoft.com" />
    <add key="MailAddress5" value="prem@serbadinamikgroup.onmicrosoft.com" />
    <add key="Password" value="serbaIT1234" />
    <add key="Port" value="2525" />
    <add key="paging" value="51"/>
    <add key="View" value="52"/>
    <add key="Expire" value="7"/>
	</appSettings>
	<connectionStrings>
    <add name="connString" connectionString="data source=localhost;Database=EShopping;User Id=sa;Password=serbait;" providerName="System.Data.SqlClient"/>
		<!--<add name="connString" connectionString="data source=localhost,1466;Database=EShopping;User Id=ebb;Password=serbaIT!@#456;" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<system.web>
    <httpRuntime requestValidationMode="2.0" />
    <sessionState timeout="30"></sessionState>
		<customErrors mode="RemoteOnly" defaultRedirect="PageEvent.aspx" />
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
                  <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
          <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
          <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
          <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
          <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        </assemblies>
		</compilation>
		<pages validateRequest="false">
			<controls>
				<add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
			</controls>
		</pages>
		<httpHandlers>
		
		</httpHandlers>
		<httpModules>
			
		</httpModules>
		<identity impersonate="false" />
		<authentication mode="Windows" />
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
		
		</modules>
		<handlers>
				</handlers>
		<directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <!--<add value="index.asp" />
                <add value="default.asp" />
                <add value="Default.aspx" />-->
                <add value="index.aspx" />
                <!--<add value="index.php" />
                <add value="index.pl" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="default.htm" />
                <add value="default.html" />
                <add value="temp.htm" />-->
            </files>
        </defaultDocument>
        <httpErrors errorMode="Detailed" existingResponse="PassThrough" />
    
	</system.webServer>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="CommonSoap11Binding" />
			</basicHttpBinding>
			<customBinding>
				<binding name="CommonSoap12Binding">
					<textMessageEncoding messageVersion="Soap12" />
					<httpTransport />
				</binding>
			</customBinding>
		</bindings>
		<client>
		</client>
		<behaviors>
			<endpointBehaviors>
				<behavior name="ServiceAspNetAjaxBehavior">
					<enableWebScript />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
		<services>
			<service name="Service">
				<endpoint address="" behaviorConfiguration="ServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Service" />
			</service>
		</services>
	</system.serviceModel>
</configuration>
