<?xml version="1.0"?>
<configuration>
  <!--<system.webServer>
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>-->
  <appSettings>
    <add key="IndexWomenFashion1" value="20" />
    <add key="IndexWomenFashion2" value="22" />
    <add key="IndexWomenFashion3" value="19" />
    <add key="IndexMenFashion1" value="14" />
    
    <add key="MerchantId" value="M09546"></add>
    <add key="VerifyKey" value="T8PXCtptrX"></add>   
    <add key="WC_ImagePath1" value="web\Products\"/>
    <add key="WC_ImagePath" value="C:\\Inetpub\\wwwroot\\EasyBuybye\\web\\Products\\"/>
    <add key="DocumentsPath" value="http://localhost/EasyBuybye/Documents/"/>
    <add key="ImagePath" value="http://localhost/e-shopping/"/>
    <add key="Webserver" value="mail.e-serbadk.com"/>
    <add key="MailAddress" value="arivu@e-serbadk.com"/>
    <add key="MailAddress2" value="nidhiarivu@gmail.com "/>
    <add key="MailAddress3" value="arivunidhi.s@gmail.com"/>
    <add key="MailAddress4" value="forvforv@gmail.com"/>
    <add key="MailAddress5" value="forvforv@gmail.com"/>
    <add key="Password" value="40100"/>
    <add key="Port" value="366"/>
    <add key="paging" value="6"/>
    <add key="Expire" value="7"/>
    <add key="View" value="8"/>
    <add key="Menuselect" value="(2)"/>
    <add key="Menuselect1" value="(2)"/>
  </appSettings>
  <connectionStrings>
    <add name="connString" connectionString="data source=localhost;Database=EShopping;User Id=sa;Password=serbait;" providerName="System.Data.SqlClient"/>
    <!--<add name="connString" connectionString="data source=202.75.62.219,1466;Database=EShopping;User Id=ebb;Password=serbaIT!@#456;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="connString" connectionString="data source=110.74.168.251,1433;Database=EShopping;User Id=sa;Password=sa123$%;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
   
    <httpRuntime requestValidationMode="2.0"/>
    <sessionState timeout="90"/>
    <customErrors mode="RemoteOnly" defaultRedirect="index.aspx"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>       
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <pages validateRequest="false">
    
    </pages> 
 
    <identity impersonate="false"/>
    <authentication mode="Windows"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  
    <handlers>
   </handlers>
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>   
    </bindings>
    <client/>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="Service">
        <endpoint address="" behaviorConfiguration="ServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Service"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>