.Popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Popup Content */
.Popup-content {
  position: relative;
  background: url("../images/bag1.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: 100% 100%;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.Popupbutton {
  font-family: helvetica;
  color: #FFFFFF !important;
  font-size: 14px;
  padding: 8px 16px;
  background: #ff6000;
   border-style: solid;
   border-width: 0px;
}
.Popupbutton:hover {
  color: #ffa600 !important;
  background: #000000;
}

.csstxt-input {
     padding: 8px 16px;
     font-size: 14px;
     border-width: 1px;
     border-color: #CCCCCC;
     background-color: #FFFFFF;
     color: #000000;
     border-style: solid;
     border-radius: 0px;
     width:250px;
     
}
 .csstxt-input:focus {
     outline:none;
}

@media only screen and (max-width: 600px) 
{
    .Popup-content {
   width: 80%;}
   
   .csstxt-input {   
     width:180px;     
}

.Popup-header 
{
  right:10px;
  padding: 6px 8px;
  font-size:12px;
}   
    }
    
    @media only screen and (max-width: 800px) 
{
    .Popup-content {
   width: 80%;}
   
   .csstxt-input {   
     width:180px;     
}

.Popup-header 
{
  right:10px;
  padding: 6px 8px;
  font-size:12px;
}   
    }
    
     @media only screen and (max-width: 1336px) 
{
    .Popup-content {
   width: 80%;}
 
    }

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: Black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  /* cursor: pointer;*/
}

.Popup-header h2
{
    text-shadow: 1px 1px #000;
    text-align:center;
    font-weight:bold;
    font-family: 'Open Sans', sans-serif;
  padding: 12px 16px;
  background-color: transparent;
  color: white;
}

.Popup-sideRight 
{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
    text-align: justify;
    letter-spacing: 1px; 
    text-shadow: 1px 1px #000;
  padding : 15px 10px 15px 10px;
  background: rgba(255, 96, 0, 0.3);
  color: white;
}

.Popup-body {padding: 2px 16px;}

.Popup-body p
{
    padding-top: 5px; padding-bottom : 5px;}

.Popup-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.Popuplabel
{
    font-family: 'Open Sans', sans-serif;
   background-color:White;
    padding:2px 5px 2px 5px;
     font-size:12px;
      top:10px;
      z-index:1; 
    }
    
    